DiBK.Matrikkelopplysninger/MatrikkelWebService/wsdl/AdresseServiceWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2-1 git-revision#dbe58a8. -->
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2-1 git-revision#dbe58a8. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse" name="AdresseServiceWS">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=1"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=12"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=23"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=33"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=34"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=35"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=36"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=37"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=38"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=2"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=3"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=4"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=5"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=6"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=7"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=8"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=9"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=10"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=11"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=13"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=14"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=15"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=16"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=17"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=18"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=19"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=20"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=21"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=22"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=24"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=25"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=26"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=27"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=28"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=29"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=30"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=31"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS?xsd=32"/>
		</xsd:schema>
	</types>
	<message name="findKrets">
		<part name="parameters" element="tns:findKrets"/>
	</message>
	<message name="findKretsResponse">
		<part name="parameters" element="tns:findKretsResponse"/>
	</message>
	<message name="ServiceException">
		<part xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" name="fault" element="ns1:ServiceException"/>
	</message>
	<message name="findAdresserForVeg">
		<part name="parameters" element="tns:findAdresserForVeg"/>
	</message>
	<message name="findAdresserForVegResponse">
		<part name="parameters" element="tns:findAdresserForVegResponse"/>
	</message>
	<message name="findAdresserForVeger">
		<part name="parameters" element="tns:findAdresserForVeger"/>
	</message>
	<message name="findAdresserForVegerResponse">
		<part name="parameters" element="tns:findAdresserForVegerResponse"/>
	</message>
	<message name="findAdresserForBygg">
		<part name="parameters" element="tns:findAdresserForBygg"/>
	</message>
	<message name="findAdresserForByggResponse">
		<part name="parameters" element="tns:findAdresserForByggResponse"/>
	</message>
	<message name="findAdresserForByggList">
		<part name="parameters" element="tns:findAdresserForByggList"/>
	</message>
	<message name="findAdresserForByggListResponse">
		<part name="parameters" element="tns:findAdresserForByggListResponse"/>
	</message>
	<message name="findAdresseIdForIdent">
		<part name="parameters" element="tns:findAdresseIdForIdent"/>
	</message>
	<message name="findAdresseIdForIdentResponse">
		<part name="parameters" element="tns:findAdresseIdForIdentResponse"/>
	</message>
	<message name="findAdresseIdsForIdents">
		<part name="parameters" element="tns:findAdresseIdsForIdents"/>
	</message>
	<message name="findAdresseIdsForIdentsResponse">
		<part name="parameters" element="tns:findAdresseIdsForIdentsResponse"/>
	</message>
	<message name="findVegIdForIdent">
		<part name="parameters" element="tns:findVegIdForIdent"/>
	</message>
	<message name="findVegIdForIdentResponse">
		<part name="parameters" element="tns:findVegIdForIdentResponse"/>
	</message>
	<message name="findVegIdsForIdents">
		<part name="parameters" element="tns:findVegIdsForIdents"/>
	</message>
	<message name="findVegIdsForIdentsResponse">
		<part name="parameters" element="tns:findVegIdsForIdentsResponse"/>
	</message>
	<message name="findVegerForKommune">
		<part name="parameters" element="tns:findVegerForKommune"/>
	</message>
	<message name="findVegerForKommuneResponse">
		<part name="parameters" element="tns:findVegerForKommuneResponse"/>
	</message>
	<message name="findVegerForKommuner">
		<part name="parameters" element="tns:findVegerForKommuner"/>
	</message>
	<message name="findVegerForKommunerResponse">
		<part name="parameters" element="tns:findVegerForKommunerResponse"/>
	</message>
	<message name="findAdressemerkeBestillinger">
		<part name="parameters" element="tns:findAdressemerkeBestillinger"/>
	</message>
	<message name="findAdressemerkeBestillingerResponse">
		<part name="parameters" element="tns:findAdressemerkeBestillingerResponse"/>
	</message>
	<message name="findAdresser">
		<part name="parameters" element="tns:findAdresser"/>
	</message>
	<message name="findAdresserResponse">
		<part name="parameters" element="tns:findAdresserResponse"/>
	</message>
	<message name="findNavarendeAdresseIdenterForAdresseIdent">
		<part name="parameters" element="tns:findNavarendeAdresseIdenterForAdresseIdent"/>
	</message>
	<message name="findNavarendeAdresseIdenterForAdresseIdentResponse">
		<part name="parameters" element="tns:findNavarendeAdresseIdenterForAdresseIdentResponse"/>
	</message>
	<message name="findNavarendeAdresseIdentMapForAdresseIdenter">
		<part name="parameters" element="tns:findNavarendeAdresseIdentMapForAdresseIdenter"/>
	</message>
	<message name="findNavarendeAdresseIdentMapForAdresseIdenterResponse">
		<part name="parameters" element="tns:findNavarendeAdresseIdentMapForAdresseIdenterResponse"/>
	</message>
	<message name="findGamleAdresseIdenterForAdresseIdent">
		<part name="parameters" element="tns:findGamleAdresseIdenterForAdresseIdent"/>
	</message>
	<message name="findGamleAdresseIdenterForAdresseIdentResponse">
		<part name="parameters" element="tns:findGamleAdresseIdenterForAdresseIdentResponse"/>
	</message>
	<message name="findGamleAdresseIdenterMapForAdresseIdenter">
		<part name="parameters" element="tns:findGamleAdresseIdenterMapForAdresseIdenter"/>
	</message>
	<message name="findGamleAdresseIdenterMapForAdresseIdenterResponse">
		<part name="parameters" element="tns:findGamleAdresseIdenterMapForAdresseIdenterResponse"/>
	</message>
	<message name="findKretserForPunkt">
		<part name="parameters" element="tns:findKretserForPunkt"/>
	</message>
	<message name="findKretserForPunktResponse">
		<part name="parameters" element="tns:findKretserForPunktResponse"/>
	</message>
	<message name="finnesAnnenVegadresseMedSammeIdent">
		<part name="parameters" element="tns:finnesAnnenVegadresseMedSammeIdent"/>
	</message>
	<message name="finnesAnnenVegadresseMedSammeIdentResponse">
		<part name="parameters" element="tns:finnesAnnenVegadresseMedSammeIdentResponse"/>
	</message>
	<message name="finnesAnnenMatrikkeladresseMedSammeIdent">
		<part name="parameters" element="tns:finnesAnnenMatrikkeladresseMedSammeIdent"/>
	</message>
	<message name="finnesAnnenMatrikkeladresseMedSammeIdentResponse">
		<part name="parameters" element="tns:finnesAnnenMatrikkeladresseMedSammeIdentResponse"/>
	</message>
	<message name="countVegadresse">
		<part name="parameters" element="tns:countVegadresse"/>
	</message>
	<message name="countVegadresseResponse">
		<part name="parameters" element="tns:countVegadresseResponse"/>
	</message>
	<message name="findNesteLedigeUndernummer">
		<part name="parameters" element="tns:findNesteLedigeUndernummer"/>
	</message>
	<message name="findNesteLedigeUndernummerResponse">
		<part name="parameters" element="tns:findNesteLedigeUndernummerResponse"/>
	</message>
	<message name="findVegadresse">
		<part name="parameters" element="tns:findVegadresse"/>
	</message>
	<message name="findVegadresseResponse">
		<part name="parameters" element="tns:findVegadresseResponse"/>
	</message>
	<message name="findMatrikkeladresse">
		<part name="parameters" element="tns:findMatrikkeladresse"/>
	</message>
	<message name="findMatrikkeladresseResponse">
		<part name="parameters" element="tns:findMatrikkeladresseResponse"/>
	</message>
	<message name="findAdresseInfoObjekter">
		<part name="parameters" element="tns:findAdresseInfoObjekter"/>
	</message>
	<message name="findAdresseInfoObjekterResponse">
		<part name="parameters" element="tns:findAdresseInfoObjekterResponse"/>
	</message>
	<message name="findPostnummeromrade">
		<part name="parameters" element="tns:findPostnummeromrade"/>
	</message>
	<message name="findPostnummeromradeResponse">
		<part name="parameters" element="tns:findPostnummeromradeResponse"/>
	</message>
	<message name="findKretserForKretstype">
		<part name="parameters" element="tns:findKretserForKretstype"/>
	</message>
	<message name="findKretserForKretstypeResponse">
		<part name="parameters" element="tns:findKretserForKretstypeResponse"/>
	</message>
	<message name="findKommunaleKretstyper">
		<part name="parameters" element="tns:findKommunaleKretstyper"/>
	</message>
	<message name="findKommunaleKretstyperResponse">
		<part name="parameters" element="tns:findKommunaleKretstyperResponse"/>
	</message>
	<message name="finnesAdresseMedKretsIKommune">
		<part name="parameters" element="tns:finnesAdresseMedKretsIKommune"/>
	</message>
	<message name="finnesAdresseMedKretsIKommuneResponse">
		<part name="parameters" element="tns:finnesAdresseMedKretsIKommuneResponse"/>
	</message>
	<message name="countKretserForKretstype">
		<part name="parameters" element="tns:countKretserForKretstype"/>
	</message>
	<message name="countKretserForKretstypeResponse">
		<part name="parameters" element="tns:countKretserForKretstypeResponse"/>
	</message>
	<message name="findTettstedInfoObjekter">
		<part name="parameters" element="tns:findTettstedInfoObjekter"/>
	</message>
	<message name="findTettstedInfoObjekterResponse">
		<part name="parameters" element="tns:findTettstedInfoObjekterResponse"/>
	</message>
	<message name="findPoststedInfoObjekter">
		<part name="parameters" element="tns:findPoststedInfoObjekter"/>
	</message>
	<message name="findPoststedInfoObjekterResponse">
		<part name="parameters" element="tns:findPoststedInfoObjekterResponse"/>
	</message>
	<message name="findObjekterForAdresse">
		<part name="parameters" element="tns:findObjekterForAdresse"/>
	</message>
	<message name="findObjekterForAdresseResponse">
		<part name="parameters" element="tns:findObjekterForAdresseResponse"/>
	</message>
	<message name="findVegHistorikker">
		<part name="parameters" element="tns:findVegHistorikker"/>
	</message>
	<message name="findVegHistorikkerResponse">
		<part name="parameters" element="tns:findVegHistorikkerResponse"/>
	</message>
	<message name="findAdresserForSelectionPolygon">
		<part name="parameters" element="tns:findAdresserForSelectionPolygon"/>
	</message>
	<message name="findAdresserForSelectionPolygonResponse">
		<part name="parameters" element="tns:findAdresserForSelectionPolygonResponse"/>
	</message>
	<message name="finnesAnnetKirkesognMedSammeOrganisasjonsnummer">
		<part name="parameters" element="tns:finnesAnnetKirkesognMedSammeOrganisasjonsnummer"/>
	</message>
	<message name="finnesAnnetKirkesognMedSammeOrganisasjonsnummerResponse">
		<part name="parameters" element="tns:finnesAnnetKirkesognMedSammeOrganisasjonsnummerResponse"/>
	</message>
	<message name="findAdresserForMatrikkelenhet">
		<part name="parameters" element="tns:findAdresserForMatrikkelenhet"/>
	</message>
	<message name="findAdresserForMatrikkelenhetResponse">
		<part name="parameters" element="tns:findAdresserForMatrikkelenhetResponse"/>
	</message>
	<message name="findAdresserForMatrikkelenheter">
		<part name="parameters" element="tns:findAdresserForMatrikkelenheter"/>
	</message>
	<message name="findAdresserForMatrikkelenheterResponse">
		<part name="parameters" element="tns:findAdresserForMatrikkelenheterResponse"/>
	</message>
	<message name="finnesAnnenKretsMedSammeIdent">
		<part name="parameters" element="tns:finnesAnnenKretsMedSammeIdent"/>
	</message>
	<message name="finnesAnnenKretsMedSammeIdentResponse">
		<part name="parameters" element="tns:finnesAnnenKretsMedSammeIdentResponse"/>
	</message>
	<message name="findVegerMedNavn">
		<part name="parameters" element="tns:findVegerMedNavn"/>
	</message>
	<message name="findVegerMedNavnResponse">
		<part name="parameters" element="tns:findVegerMedNavnResponse"/>
	</message>
	<portType name="AdresseService">
		<operation name="findKrets">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKretsRequest" message="tns:findKrets"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKretsResponse" message="tns:findKretsResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKrets/Fault/ServiceException"/>
		</operation>
		<operation name="findAdresserForVeg">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForVegRequest" message="tns:findAdresserForVeg"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForVegResponse" message="tns:findAdresserForVegResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForVeg/Fault/ServiceException"/>
		</operation>
		<operation name="findAdresserForVeger">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForVegerRequest" message="tns:findAdresserForVeger"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForVegerResponse" message="tns:findAdresserForVegerResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForVeger/Fault/ServiceException"/>
		</operation>
		<operation name="findAdresserForBygg">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForByggRequest" message="tns:findAdresserForBygg"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForByggResponse" message="tns:findAdresserForByggResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForBygg/Fault/ServiceException"/>
		</operation>
		<operation name="findAdresserForByggList">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForByggListRequest" message="tns:findAdresserForByggList"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForByggListResponse" message="tns:findAdresserForByggListResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForByggList/Fault/ServiceException"/>
		</operation>
		<operation name="findAdresseIdForIdent">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresseIdForIdentRequest" message="tns:findAdresseIdForIdent"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresseIdForIdentResponse" message="tns:findAdresseIdForIdentResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresseIdForIdent/Fault/ServiceException"/>
		</operation>
		<operation name="findAdresseIdsForIdents">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresseIdsForIdentsRequest" message="tns:findAdresseIdsForIdents"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresseIdsForIdentsResponse" message="tns:findAdresseIdsForIdentsResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresseIdsForIdents/Fault/ServiceException"/>
		</operation>
		<operation name="findVegIdForIdent">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegIdForIdentRequest" message="tns:findVegIdForIdent"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegIdForIdentResponse" message="tns:findVegIdForIdentResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegIdForIdent/Fault/ServiceException"/>
		</operation>
		<operation name="findVegIdsForIdents">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegIdsForIdentsRequest" message="tns:findVegIdsForIdents"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegIdsForIdentsResponse" message="tns:findVegIdsForIdentsResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegIdsForIdents/Fault/ServiceException"/>
		</operation>
		<operation name="findVegerForKommune">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegerForKommuneRequest" message="tns:findVegerForKommune"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegerForKommuneResponse" message="tns:findVegerForKommuneResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegerForKommune/Fault/ServiceException"/>
		</operation>
		<operation name="findVegerForKommuner">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegerForKommunerRequest" message="tns:findVegerForKommuner"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegerForKommunerResponse" message="tns:findVegerForKommunerResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegerForKommuner/Fault/ServiceException"/>
		</operation>
		<operation name="findAdressemerkeBestillinger">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdressemerkeBestillingerRequest" message="tns:findAdressemerkeBestillinger"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdressemerkeBestillingerResponse" message="tns:findAdressemerkeBestillingerResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdressemerkeBestillinger/Fault/ServiceException"/>
		</operation>
		<operation name="findAdresser">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserRequest" message="tns:findAdresser"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserResponse" message="tns:findAdresserResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresser/Fault/ServiceException"/>
		</operation>
		<operation name="findNavarendeAdresseIdenterForAdresseIdent">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findNavarendeAdresseIdenterForAdresseIdentRequest" message="tns:findNavarendeAdresseIdenterForAdresseIdent"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findNavarendeAdresseIdenterForAdresseIdentResponse" message="tns:findNavarendeAdresseIdenterForAdresseIdentResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findNavarendeAdresseIdenterForAdresseIdent/Fault/ServiceException"/>
		</operation>
		<operation name="findNavarendeAdresseIdentMapForAdresseIdenter">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findNavarendeAdresseIdentMapForAdresseIdenterRequest" message="tns:findNavarendeAdresseIdentMapForAdresseIdenter"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findNavarendeAdresseIdentMapForAdresseIdenterResponse" message="tns:findNavarendeAdresseIdentMapForAdresseIdenterResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findNavarendeAdresseIdentMapForAdresseIdenter/Fault/ServiceException"/>
		</operation>
		<operation name="findGamleAdresseIdenterForAdresseIdent">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findGamleAdresseIdenterForAdresseIdentRequest" message="tns:findGamleAdresseIdenterForAdresseIdent"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findGamleAdresseIdenterForAdresseIdentResponse" message="tns:findGamleAdresseIdenterForAdresseIdentResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findGamleAdresseIdenterForAdresseIdent/Fault/ServiceException"/>
		</operation>
		<operation name="findGamleAdresseIdenterMapForAdresseIdenter">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findGamleAdresseIdenterMapForAdresseIdenterRequest" message="tns:findGamleAdresseIdenterMapForAdresseIdenter"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findGamleAdresseIdenterMapForAdresseIdenterResponse" message="tns:findGamleAdresseIdenterMapForAdresseIdenterResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findGamleAdresseIdenterMapForAdresseIdenter/Fault/ServiceException"/>
		</operation>
		<operation name="findKretserForPunkt">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKretserForPunktRequest" message="tns:findKretserForPunkt"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKretserForPunktResponse" message="tns:findKretserForPunktResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKretserForPunkt/Fault/ServiceException"/>
		</operation>
		<operation name="finnesAnnenVegadresseMedSammeIdent">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnenVegadresseMedSammeIdentRequest" message="tns:finnesAnnenVegadresseMedSammeIdent"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnenVegadresseMedSammeIdentResponse" message="tns:finnesAnnenVegadresseMedSammeIdentResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnenVegadresseMedSammeIdent/Fault/ServiceException"/>
		</operation>
		<operation name="finnesAnnenMatrikkeladresseMedSammeIdent">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnenMatrikkeladresseMedSammeIdentRequest" message="tns:finnesAnnenMatrikkeladresseMedSammeIdent"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnenMatrikkeladresseMedSammeIdentResponse" message="tns:finnesAnnenMatrikkeladresseMedSammeIdentResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnenMatrikkeladresseMedSammeIdent/Fault/ServiceException"/>
		</operation>
		<operation name="countVegadresse">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/countVegadresseRequest" message="tns:countVegadresse"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/countVegadresseResponse" message="tns:countVegadresseResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/countVegadresse/Fault/ServiceException"/>
		</operation>
		<operation name="findNesteLedigeUndernummer">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findNesteLedigeUndernummerRequest" message="tns:findNesteLedigeUndernummer"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findNesteLedigeUndernummerResponse" message="tns:findNesteLedigeUndernummerResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findNesteLedigeUndernummer/Fault/ServiceException"/>
		</operation>
		<operation name="findVegadresse">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegadresseRequest" message="tns:findVegadresse"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegadresseResponse" message="tns:findVegadresseResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegadresse/Fault/ServiceException"/>
		</operation>
		<operation name="findMatrikkeladresse">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findMatrikkeladresseRequest" message="tns:findMatrikkeladresse"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findMatrikkeladresseResponse" message="tns:findMatrikkeladresseResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findMatrikkeladresse/Fault/ServiceException"/>
		</operation>
		<operation name="findAdresseInfoObjekter">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresseInfoObjekterRequest" message="tns:findAdresseInfoObjekter"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresseInfoObjekterResponse" message="tns:findAdresseInfoObjekterResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresseInfoObjekter/Fault/ServiceException"/>
		</operation>
		<operation name="findPostnummeromrade">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findPostnummeromradeRequest" message="tns:findPostnummeromrade"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findPostnummeromradeResponse" message="tns:findPostnummeromradeResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findPostnummeromrade/Fault/ServiceException"/>
		</operation>
		<operation name="findKretserForKretstype">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKretserForKretstypeRequest" message="tns:findKretserForKretstype"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKretserForKretstypeResponse" message="tns:findKretserForKretstypeResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKretserForKretstype/Fault/ServiceException"/>
		</operation>
		<operation name="findKommunaleKretstyper">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKommunaleKretstyperRequest" message="tns:findKommunaleKretstyper"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKommunaleKretstyperResponse" message="tns:findKommunaleKretstyperResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKommunaleKretstyper/Fault/ServiceException"/>
		</operation>
		<operation name="finnesAdresseMedKretsIKommune">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAdresseMedKretsIKommuneRequest" message="tns:finnesAdresseMedKretsIKommune"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAdresseMedKretsIKommuneResponse" message="tns:finnesAdresseMedKretsIKommuneResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAdresseMedKretsIKommune/Fault/ServiceException"/>
		</operation>
		<operation name="countKretserForKretstype">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/countKretserForKretstypeRequest" message="tns:countKretserForKretstype"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/countKretserForKretstypeResponse" message="tns:countKretserForKretstypeResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/countKretserForKretstype/Fault/ServiceException"/>
		</operation>
		<operation name="findTettstedInfoObjekter">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findTettstedInfoObjekterRequest" message="tns:findTettstedInfoObjekter"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findTettstedInfoObjekterResponse" message="tns:findTettstedInfoObjekterResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findTettstedInfoObjekter/Fault/ServiceException"/>
		</operation>
		<operation name="findPoststedInfoObjekter">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findPoststedInfoObjekterRequest" message="tns:findPoststedInfoObjekter"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findPoststedInfoObjekterResponse" message="tns:findPoststedInfoObjekterResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findPoststedInfoObjekter/Fault/ServiceException"/>
		</operation>
		<operation name="findObjekterForAdresse">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findObjekterForAdresseRequest" message="tns:findObjekterForAdresse"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findObjekterForAdresseResponse" message="tns:findObjekterForAdresseResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findObjekterForAdresse/Fault/ServiceException"/>
		</operation>
		<operation name="findVegHistorikker">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegHistorikkerRequest" message="tns:findVegHistorikker"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegHistorikkerResponse" message="tns:findVegHistorikkerResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegHistorikker/Fault/ServiceException"/>
		</operation>
		<operation name="findAdresserForSelectionPolygon">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForSelectionPolygonRequest" message="tns:findAdresserForSelectionPolygon"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForSelectionPolygonResponse" message="tns:findAdresserForSelectionPolygonResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForSelectionPolygon/Fault/ServiceException"/>
		</operation>
		<operation name="finnesAnnetKirkesognMedSammeOrganisasjonsnummer">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnetKirkesognMedSammeOrganisasjonsnummerRequest" message="tns:finnesAnnetKirkesognMedSammeOrganisasjonsnummer"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnetKirkesognMedSammeOrganisasjonsnummerResponse" message="tns:finnesAnnetKirkesognMedSammeOrganisasjonsnummerResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnetKirkesognMedSammeOrganisasjonsnummer/Fault/ServiceException"/>
		</operation>
		<operation name="findAdresserForMatrikkelenhet">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForMatrikkelenhetRequest" message="tns:findAdresserForMatrikkelenhet"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForMatrikkelenhetResponse" message="tns:findAdresserForMatrikkelenhetResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForMatrikkelenhet/Fault/ServiceException"/>
		</operation>
		<operation name="findAdresserForMatrikkelenheter">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForMatrikkelenheterRequest" message="tns:findAdresserForMatrikkelenheter"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForMatrikkelenheterResponse" message="tns:findAdresserForMatrikkelenheterResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForMatrikkelenheter/Fault/ServiceException"/>
		</operation>
		<operation name="finnesAnnenKretsMedSammeIdent">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnenKretsMedSammeIdentRequest" message="tns:finnesAnnenKretsMedSammeIdent"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnenKretsMedSammeIdentResponse" message="tns:finnesAnnenKretsMedSammeIdentResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnenKretsMedSammeIdent/Fault/ServiceException"/>
		</operation>
		<operation name="findVegerMedNavn">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegerMedNavnRequest" message="tns:findVegerMedNavn"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegerMedNavnResponse" message="tns:findVegerMedNavnResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegerMedNavn/Fault/ServiceException"/>
		</operation>
	</portType>
	<binding name="AdresseServicePortBinding" type="tns:AdresseService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="findKrets">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findAdresserForVeg">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findAdresserForVeger">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findAdresserForBygg">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findAdresserForByggList">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findAdresseIdForIdent">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findAdresseIdsForIdents">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findVegIdForIdent">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findVegIdsForIdents">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findVegerForKommune">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findVegerForKommuner">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findAdressemerkeBestillinger">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findAdresser">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findNavarendeAdresseIdenterForAdresseIdent">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findNavarendeAdresseIdentMapForAdresseIdenter">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findGamleAdresseIdenterForAdresseIdent">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findGamleAdresseIdenterMapForAdresseIdenter">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findKretserForPunkt">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="finnesAnnenVegadresseMedSammeIdent">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="finnesAnnenMatrikkeladresseMedSammeIdent">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="countVegadresse">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findNesteLedigeUndernummer">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findVegadresse">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findMatrikkeladresse">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findAdresseInfoObjekter">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findPostnummeromrade">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findKretserForKretstype">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findKommunaleKretstyper">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="finnesAdresseMedKretsIKommune">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="countKretserForKretstype">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findTettstedInfoObjekter">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findPoststedInfoObjekter">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findObjekterForAdresse">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findVegHistorikker">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findAdresserForSelectionPolygon">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="finnesAnnetKirkesognMedSammeOrganisasjonsnummer">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findAdresserForMatrikkelenhet">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findAdresserForMatrikkelenheter">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="finnesAnnenKretsMedSammeIdent">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findVegerMedNavn">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="AdresseServiceWS">
		<port name="AdresseServicePort" binding="tns:AdresseServicePortBinding">
			<soap:address location="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS"/>
		</port>
	</service>
</definitions>