DiBK.Matrikkelopplysninger/MatrikkelWebService/wsdl/BygningServiceWS.wsdl

<?xml version='1.0' encoding='utf-8'?>

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2-1 git-revision#dbe58a8. -->
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2-1 git-revision#dbe58a8. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning"
             name="BygningServiceWS">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=1" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=12" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=23" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=33" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=34" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=35" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=36" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=37" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=38" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=2" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=3" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=4" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=5" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=6" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=7" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=8" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=9" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=10" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=11" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=13" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=14" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=15" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=16" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=17" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=18" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=19" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=20" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=21" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=22" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=24" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=25" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=26" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=27" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=28" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=29" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=30" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=31" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS?xsd=32" />
		</xsd:schema>
	</types>
	<message name="findByggForMatrikkelenhet">
		<part name="parameters" element="tns:findByggForMatrikkelenhet" />
	</message>
	<message name="findByggForMatrikkelenhetResponse">
		<part name="parameters" element="tns:findByggForMatrikkelenhetResponse" />
	</message>
	<message name="ServiceException">
		<part xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" name="fault"
		      element="ns1:ServiceException" />
	</message>
	<message name="findByggForMatrikkelenheter">
		<part name="parameters" element="tns:findByggForMatrikkelenheter" />
	</message>
	<message name="findByggForMatrikkelenheterResponse">
		<part name="parameters" element="tns:findByggForMatrikkelenheterResponse" />
	</message>
	<message name="findByggForAdresse">
		<part name="parameters" element="tns:findByggForAdresse" />
	</message>
	<message name="findByggForAdresseResponse">
		<part name="parameters" element="tns:findByggForAdresseResponse" />
	</message>
	<message name="findByggForAdresser">
		<part name="parameters" element="tns:findByggForAdresser" />
	</message>
	<message name="findByggForAdresserResponse">
		<part name="parameters" element="tns:findByggForAdresserResponse" />
	</message>
	<message name="findBygg">
		<part name="parameters" element="tns:findBygg" />
	</message>
	<message name="findByggResponse">
		<part name="parameters" element="tns:findByggResponse" />
	</message>
	<message name="findBygning">
		<part name="parameters" element="tns:findBygning" />
	</message>
	<message name="findBygningResponse">
		<part name="parameters" element="tns:findBygningResponse" />
	</message>
	<message name="findBygningInfoObjekter">
		<part name="parameters" element="tns:findBygningInfoObjekter" />
	</message>
	<message name="findBygningInfoObjekterResponse">
		<part name="parameters" element="tns:findBygningInfoObjekterResponse" />
	</message>
	<message name="findBygningsendring">
		<part name="parameters" element="tns:findBygningsendring" />
	</message>
	<message name="findBygningsendringResponse">
		<part name="parameters" element="tns:findBygningsendringResponse" />
	</message>
	<message name="findBygningsendringerForBygning">
		<part name="parameters" element="tns:findBygningsendringerForBygning" />
	</message>
	<message name="findBygningsendringerForBygningResponse">
		<part name="parameters" element="tns:findBygningsendringerForBygningResponse" />
	</message>
	<message name="findObjekterForBygg">
		<part name="parameters" element="tns:findObjekterForBygg" />
	</message>
	<message name="findObjekterForByggResponse">
		<part name="parameters" element="tns:findObjekterForByggResponse" />
	</message>
	<message name="findAntallBygningsendringer">
		<part name="parameters" element="tns:findAntallBygningsendringer" />
	</message>
	<message name="findAntallBygningsendringerResponse">
		<part name="parameters" element="tns:findAntallBygningsendringerResponse" />
	</message>
	<message name="findByggForSelectionPolygon">
		<part name="parameters" element="tns:findByggForSelectionPolygon" />
	</message>
	<message name="findByggForSelectionPolygonResponse">
		<part name="parameters" element="tns:findByggForSelectionPolygonResponse" />
	</message>
	<message name="findBygningFlyttet">
		<part name="parameters" element="tns:findBygningFlyttet" />
	</message>
	<message name="findBygningFlyttetResponse">
		<part name="parameters" element="tns:findBygningFlyttetResponse" />
	</message>
	<message name="finnesAnnenBygningMedSammeIdent">
		<part name="parameters" element="tns:finnesAnnenBygningMedSammeIdent" />
	</message>
	<message name="finnesAnnenBygningMedSammeIdentResponse">
		<part name="parameters" element="tns:finnesAnnenBygningMedSammeIdentResponse" />
	</message>
	<message name="finnesAnnenBygningsendringMedSammeIdent">
		<part name="parameters" element="tns:finnesAnnenBygningsendringMedSammeIdent" />
	</message>
	<message name="finnesAnnenBygningsendringMedSammeIdentResponse">
		<part name="parameters" element="tns:finnesAnnenBygningsendringMedSammeIdentResponse" />
	</message>
	<message name="findAlleBygningstypeKoder">
		<part name="parameters" element="tns:findAlleBygningstypeKoder" />
	</message>
	<message name="findAlleBygningstypeKoderResponse">
		<part name="parameters" element="tns:findAlleBygningstypeKoderResponse" />
	</message>
	<message name="findByggForKommune">
		<part name="parameters" element="tns:findByggForKommune" />
	</message>
	<message name="findByggForKommuneResponse">
		<part name="parameters" element="tns:findByggForKommuneResponse" />
	</message>
	<message name="findByggIdForIdent">
		<part name="parameters" element="tns:findByggIdForIdent" />
	</message>
	<message name="findByggIdForIdentResponse">
		<part name="parameters" element="tns:findByggIdForIdentResponse" />
	</message>
	<message name="findByggIdsForIdents">
		<part name="parameters" element="tns:findByggIdsForIdents" />
	</message>
	<message name="findByggIdsForIdentsResponse">
		<part name="parameters" element="tns:findByggIdsForIdentsResponse" />
	</message>
	<message name="existsAktivBruksenhetForMatrikkelenhet">
		<part name="parameters" element="tns:existsAktivBruksenhetForMatrikkelenhet" />
	</message>
	<message name="existsAktivBruksenhetForMatrikkelenhetResponse">
		<part name="parameters" element="tns:existsAktivBruksenhetForMatrikkelenhetResponse" />
	</message>
	<message name="findByggEnkel">
		<part name="parameters" element="tns:findByggEnkel" />
	</message>
	<message name="findByggEnkelResponse">
		<part name="parameters" element="tns:findByggEnkelResponse" />
	</message>
	<portType name="BygningService">
		<operation name="findByggForMatrikkelenhet">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForMatrikkelenhetRequest"
				message="tns:findByggForMatrikkelenhet" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForMatrikkelenhetResponse"
				message="tns:findByggForMatrikkelenhetResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForMatrikkelenhet/Fault/ServiceException" />
		</operation>
		<operation name="findByggForMatrikkelenheter">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForMatrikkelenheterRequest"
				message="tns:findByggForMatrikkelenheter" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForMatrikkelenheterResponse"
				message="tns:findByggForMatrikkelenheterResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForMatrikkelenheter/Fault/ServiceException" />
		</operation>
		<operation name="findByggForAdresse">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForAdresseRequest"
				message="tns:findByggForAdresse" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForAdresseResponse"
				message="tns:findByggForAdresseResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForAdresse/Fault/ServiceException" />
		</operation>
		<operation name="findByggForAdresser">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForAdresserRequest"
				message="tns:findByggForAdresser" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForAdresserResponse"
				message="tns:findByggForAdresserResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForAdresser/Fault/ServiceException" />
		</operation>
		<operation name="findBygg">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggRequest"
				message="tns:findBygg" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggResponse"
				message="tns:findByggResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygg/Fault/ServiceException" />
		</operation>
		<operation name="findBygning">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningRequest"
				message="tns:findBygning" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningResponse"
				message="tns:findBygningResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygning/Fault/ServiceException" />
		</operation>
		<operation name="findBygningInfoObjekter">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningInfoObjekterRequest"
				message="tns:findBygningInfoObjekter" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningInfoObjekterResponse"
				message="tns:findBygningInfoObjekterResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningInfoObjekter/Fault/ServiceException" />
		</operation>
		<operation name="findBygningsendring">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningsendringRequest"
				message="tns:findBygningsendring" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningsendringResponse"
				message="tns:findBygningsendringResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningsendring/Fault/ServiceException" />
		</operation>
		<operation name="findBygningsendringerForBygning">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningsendringerForBygningRequest"
				message="tns:findBygningsendringerForBygning" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningsendringerForBygningResponse"
				message="tns:findBygningsendringerForBygningResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningsendringerForBygning/Fault/ServiceException" />
		</operation>
		<operation name="findObjekterForBygg">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findObjekterForByggRequest"
				message="tns:findObjekterForBygg" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findObjekterForByggResponse"
				message="tns:findObjekterForByggResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findObjekterForBygg/Fault/ServiceException" />
		</operation>
		<operation name="findAntallBygningsendringer">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findAntallBygningsendringerRequest"
				message="tns:findAntallBygningsendringer" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findAntallBygningsendringerResponse"
				message="tns:findAntallBygningsendringerResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findAntallBygningsendringer/Fault/ServiceException" />
		</operation>
		<operation name="findByggForSelectionPolygon">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForSelectionPolygonRequest"
				message="tns:findByggForSelectionPolygon" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForSelectionPolygonResponse"
				message="tns:findByggForSelectionPolygonResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForSelectionPolygon/Fault/ServiceException" />
		</operation>
		<operation name="findBygningFlyttet">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningFlyttetRequest"
				message="tns:findBygningFlyttet" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningFlyttetResponse"
				message="tns:findBygningFlyttetResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningFlyttet/Fault/ServiceException" />
		</operation>
		<operation name="finnesAnnenBygningMedSammeIdent">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/finnesAnnenBygningMedSammeIdentRequest"
				message="tns:finnesAnnenBygningMedSammeIdent" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/finnesAnnenBygningMedSammeIdentResponse"
				message="tns:finnesAnnenBygningMedSammeIdentResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/finnesAnnenBygningMedSammeIdent/Fault/ServiceException" />
		</operation>
		<operation name="finnesAnnenBygningsendringMedSammeIdent">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/finnesAnnenBygningsendringMedSammeIdentRequest"
				message="tns:finnesAnnenBygningsendringMedSammeIdent" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/finnesAnnenBygningsendringMedSammeIdentResponse"
				message="tns:finnesAnnenBygningsendringMedSammeIdentResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/finnesAnnenBygningsendringMedSammeIdent/Fault/ServiceException" />
		</operation>
		<operation name="findAlleBygningstypeKoder">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findAlleBygningstypeKoderRequest"
				message="tns:findAlleBygningstypeKoder" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findAlleBygningstypeKoderResponse"
				message="tns:findAlleBygningstypeKoderResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findAlleBygningstypeKoder/Fault/ServiceException" />
		</operation>
		<operation name="findByggForKommune">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForKommuneRequest"
				message="tns:findByggForKommune" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForKommuneResponse"
				message="tns:findByggForKommuneResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForKommune/Fault/ServiceException" />
		</operation>
		<operation name="findByggIdForIdent">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggIdForIdentRequest"
				message="tns:findByggIdForIdent" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggIdForIdentResponse"
				message="tns:findByggIdForIdentResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggIdForIdent/Fault/ServiceException" />
		</operation>
		<operation name="findByggIdsForIdents">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggIdsForIdentsRequest"
				message="tns:findByggIdsForIdents" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggIdsForIdentsResponse"
				message="tns:findByggIdsForIdentsResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggIdsForIdents/Fault/ServiceException" />
		</operation>
		<operation name="existsAktivBruksenhetForMatrikkelenhet">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/existsAktivBruksenhetForMatrikkelenhetRequest"
				message="tns:existsAktivBruksenhetForMatrikkelenhet" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/existsAktivBruksenhetForMatrikkelenhetResponse"
				message="tns:existsAktivBruksenhetForMatrikkelenhetResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/existsAktivBruksenhetForMatrikkelenhet/Fault/ServiceException" />
		</operation>
		<operation name="findByggEnkel">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggEnkelRequest"
				message="tns:findByggEnkel" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggEnkelResponse"
				message="tns:findByggEnkelResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggEnkel/Fault/ServiceException" />
		</operation>
	</portType>
	<binding name="BygningServicePortBinding" type="tns:BygningService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="findByggForMatrikkelenhet">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findByggForMatrikkelenheter">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findByggForAdresse">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findByggForAdresser">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findBygg">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findBygning">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findBygningInfoObjekter">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findBygningsendring">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findBygningsendringerForBygning">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findObjekterForBygg">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findAntallBygningsendringer">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findByggForSelectionPolygon">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findBygningFlyttet">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="finnesAnnenBygningMedSammeIdent">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="finnesAnnenBygningsendringMedSammeIdent">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findAlleBygningstypeKoder">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findByggForKommune">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findByggIdForIdent">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findByggIdsForIdents">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="existsAktivBruksenhetForMatrikkelenhet">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findByggEnkel">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="BygningServiceWS">
		<port name="BygningServicePort" binding="tns:BygningServicePortBinding">
			<soap:address location="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS" />
		</port>
	</service>
</definitions>