DiBK.Matrikkelopplysninger/MatrikkelWebService/wsdl/ForretningServiceWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2-1 git-revision#dbe58a8. -->
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2-1 git-revision#dbe58a8. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning"
             name="ForretningServiceWS">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=1" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=12" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=23" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=33" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=34" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=35" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=36" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=37" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=38" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=2" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=3" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=4" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=5" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=6" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=7" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=8" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=9" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=10" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=11" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=13" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=14" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=15" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=16" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=17" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=18" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=19" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=20" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=21" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=22" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=24" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=25" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=26" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=27" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=28" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=29" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=30" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=31" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain"
			            schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS?xsd=32" />
		</xsd:schema>
	</types>
	<message name="findForretningerForTeiggrensepunkt">
		<part name="parameters" element="tns:findForretningerForTeiggrensepunkt" />
	</message>
	<message name="findForretningerForTeiggrensepunktResponse">
		<part name="parameters" element="tns:findForretningerForTeiggrensepunktResponse" />
	</message>
	<message name="ServiceException">
		<part xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" name="fault"
		      element="ns1:ServiceException" />
	</message>
	<message name="findForretningerForAnleggsprojeksjonsgrense">
		<part name="parameters" element="tns:findForretningerForAnleggsprojeksjonsgrense" />
	</message>
	<message name="findForretningerForAnleggsprojeksjonsgrenseResponse">
		<part name="parameters" element="tns:findForretningerForAnleggsprojeksjonsgrenseResponse" />
	</message>
	<message name="findForretningerForAnleggsprojeksjonspunkt">
		<part name="parameters" element="tns:findForretningerForAnleggsprojeksjonspunkt" />
	</message>
	<message name="findForretningerForAnleggsprojeksjonspunktResponse">
		<part name="parameters" element="tns:findForretningerForAnleggsprojeksjonspunktResponse" />
	</message>
	<message name="findForretningerSomSkalTinglysesForMatrikkelenhet">
		<part name="parameters" element="tns:findForretningerSomSkalTinglysesForMatrikkelenhet" />
	</message>
	<message name="findForretningerSomSkalTinglysesForMatrikkelenhetResponse">
		<part name="parameters" element="tns:findForretningerSomSkalTinglysesForMatrikkelenhetResponse" />
	</message>
	<message name="findRettingAvForretningsdataForretningerForForretning">
		<part name="parameters" element="tns:findRettingAvForretningsdataForretningerForForretning" />
	</message>
	<message name="findRettingAvForretningsdataForretningerForForretningResponse">
		<part name="parameters" element="tns:findRettingAvForretningsdataForretningerForForretningResponse" />
	</message>
	<message name="findForretningerForForretningSomGrunnlag">
		<part name="parameters" element="tns:findForretningerForForretningSomGrunnlag" />
	</message>
	<message name="findForretningerForForretningSomGrunnlagResponse">
		<part name="parameters" element="tns:findForretningerForForretningSomGrunnlagResponse" />
	</message>
	<message name="findSammenslaing">
		<part name="parameters" element="tns:findSammenslaing" />
	</message>
	<message name="findSammenslaingResponse">
		<part name="parameters" element="tns:findSammenslaingResponse" />
	</message>
	<message name="erForretningInnsendtElektroniskTinglystIGrunnboken">
		<part name="parameters" element="tns:erForretningInnsendtElektroniskTinglystIGrunnboken" />
	</message>
	<message name="erForretningInnsendtElektroniskTinglystIGrunnbokenResponse">
		<part name="parameters" element="tns:erForretningInnsendtElektroniskTinglystIGrunnbokenResponse" />
	</message>
	<message name="findForretningerForMatrikkelenheter">
		<part name="parameters" element="tns:findForretningerForMatrikkelenheter" />
	</message>
	<message name="findForretningerForMatrikkelenheterResponse">
		<part name="parameters" element="tns:findForretningerForMatrikkelenheterResponse" />
	</message>
	<message name="findJordskifteForretningForJordskifteKrevd">
		<part name="parameters" element="tns:findJordskifteForretningForJordskifteKrevd" />
	</message>
	<message name="findJordskifteForretningForJordskifteKrevdResponse">
		<part name="parameters" element="tns:findJordskifteForretningForJordskifteKrevdResponse" />
	</message>
	<message name="findForretningerForTeig">
		<part name="parameters" element="tns:findForretningerForTeig" />
	</message>
	<message name="findForretningerForTeigResponse">
		<part name="parameters" element="tns:findForretningerForTeigResponse" />
	</message>
	<message name="findForretningerForTeiggrense">
		<part name="parameters" element="tns:findForretningerForTeiggrense" />
	</message>
	<message name="findForretningerForTeiggrenseResponse">
		<part name="parameters" element="tns:findForretningerForTeiggrenseResponse" />
	</message>
	<message name="findForretningerForMatrikkelenhet">
		<part name="parameters" element="tns:findForretningerForMatrikkelenhet" />
	</message>
	<message name="findForretningerForMatrikkelenhetResponse">
		<part name="parameters" element="tns:findForretningerForMatrikkelenhetResponse" />
	</message>
	<message name="findForretningIdForIdent">
		<part name="parameters" element="tns:findForretningIdForIdent" />
	</message>
	<message name="findForretningIdForIdentResponse">
		<part name="parameters" element="tns:findForretningIdForIdentResponse" />
	</message>
	<portType name="ForretningService">
		<operation name="findForretningerForTeiggrensepunkt">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForTeiggrensepunktRequest"
				message="tns:findForretningerForTeiggrensepunkt" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForTeiggrensepunktResponse"
				message="tns:findForretningerForTeiggrensepunktResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForTeiggrensepunkt/Fault/ServiceException" />
		</operation>
		<operation name="findForretningerForAnleggsprojeksjonsgrense">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForAnleggsprojeksjonsgrenseRequest"
				message="tns:findForretningerForAnleggsprojeksjonsgrense" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForAnleggsprojeksjonsgrenseResponse"
				message="tns:findForretningerForAnleggsprojeksjonsgrenseResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForAnleggsprojeksjonsgrense/Fault/ServiceException" />
		</operation>
		<operation name="findForretningerForAnleggsprojeksjonspunkt">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForAnleggsprojeksjonspunktRequest"
				message="tns:findForretningerForAnleggsprojeksjonspunkt" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForAnleggsprojeksjonspunktResponse"
				message="tns:findForretningerForAnleggsprojeksjonspunktResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForAnleggsprojeksjonspunkt/Fault/ServiceException" />
		</operation>
		<operation name="findForretningerSomSkalTinglysesForMatrikkelenhet">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerSomSkalTinglysesForMatrikkelenhetRequest"
				message="tns:findForretningerSomSkalTinglysesForMatrikkelenhet" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerSomSkalTinglysesForMatrikkelenhetResponse"
				message="tns:findForretningerSomSkalTinglysesForMatrikkelenhetResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerSomSkalTinglysesForMatrikkelenhet/Fault/ServiceException" />
		</operation>
		<operation name="findRettingAvForretningsdataForretningerForForretning">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findRettingAvForretningsdataForretningerForForretningRequest"
				message="tns:findRettingAvForretningsdataForretningerForForretning" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findRettingAvForretningsdataForretningerForForretningResponse"
				message="tns:findRettingAvForretningsdataForretningerForForretningResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findRettingAvForretningsdataForretningerForForretning/Fault/ServiceException" />
		</operation>
		<operation name="findForretningerForForretningSomGrunnlag">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForForretningSomGrunnlagRequest"
				message="tns:findForretningerForForretningSomGrunnlag" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForForretningSomGrunnlagResponse"
				message="tns:findForretningerForForretningSomGrunnlagResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForForretningSomGrunnlag/Fault/ServiceException" />
		</operation>
		<operation name="findSammenslaing">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findSammenslaingRequest"
				message="tns:findSammenslaing" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findSammenslaingResponse"
				message="tns:findSammenslaingResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findSammenslaing/Fault/ServiceException" />
		</operation>
		<operation name="erForretningInnsendtElektroniskTinglystIGrunnboken">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/erForretningInnsendtElektroniskTinglystIGrunnbokenRequest"
				message="tns:erForretningInnsendtElektroniskTinglystIGrunnboken" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/erForretningInnsendtElektroniskTinglystIGrunnbokenResponse"
				message="tns:erForretningInnsendtElektroniskTinglystIGrunnbokenResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/erForretningInnsendtElektroniskTinglystIGrunnboken/Fault/ServiceException" />
		</operation>
		<operation name="findForretningerForMatrikkelenheter">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForMatrikkelenheterRequest"
				message="tns:findForretningerForMatrikkelenheter" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForMatrikkelenheterResponse"
				message="tns:findForretningerForMatrikkelenheterResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForMatrikkelenheter/Fault/ServiceException" />
		</operation>
		<operation name="findJordskifteForretningForJordskifteKrevd">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findJordskifteForretningForJordskifteKrevdRequest"
				message="tns:findJordskifteForretningForJordskifteKrevd" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findJordskifteForretningForJordskifteKrevdResponse"
				message="tns:findJordskifteForretningForJordskifteKrevdResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findJordskifteForretningForJordskifteKrevd/Fault/ServiceException" />
		</operation>
		<operation name="findForretningerForTeig">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForTeigRequest"
				message="tns:findForretningerForTeig" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForTeigResponse"
				message="tns:findForretningerForTeigResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForTeig/Fault/ServiceException" />
		</operation>
		<operation name="findForretningerForTeiggrense">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForTeiggrenseRequest"
				message="tns:findForretningerForTeiggrense" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForTeiggrenseResponse"
				message="tns:findForretningerForTeiggrenseResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForTeiggrense/Fault/ServiceException" />
		</operation>
		<operation name="findForretningerForMatrikkelenhet">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForMatrikkelenhetRequest"
				message="tns:findForretningerForMatrikkelenhet" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForMatrikkelenhetResponse"
				message="tns:findForretningerForMatrikkelenhetResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForMatrikkelenhet/Fault/ServiceException" />
		</operation>
		<operation name="findForretningIdForIdent">
			<input
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningIdForIdentRequest"
				message="tns:findForretningIdForIdent" />
			<output
				wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningIdForIdentResponse"
				message="tns:findForretningIdForIdentResponse" />
			<fault message="tns:ServiceException" name="ServiceException"
			       wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningIdForIdent/Fault/ServiceException" />
		</operation>
	</portType>
	<binding name="ForretningServicePortBinding" type="tns:ForretningService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="findForretningerForTeiggrensepunkt">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findForretningerForAnleggsprojeksjonsgrense">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findForretningerForAnleggsprojeksjonspunkt">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findForretningerSomSkalTinglysesForMatrikkelenhet">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findRettingAvForretningsdataForretningerForForretning">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findForretningerForForretningSomGrunnlag">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findSammenslaing">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="erForretningInnsendtElektroniskTinglystIGrunnboken">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findForretningerForMatrikkelenheter">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findJordskifteForretningForJordskifteKrevd">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findForretningerForTeig">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findForretningerForTeiggrense">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findForretningerForMatrikkelenhet">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findForretningIdForIdent">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="ForretningServiceWS">
		<port name="ForretningServicePort" binding="tns:ForretningServicePortBinding">
			<soap:address location="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS" />
		</port>
	</service>
</definitions>