DiBK.Matrikkelopplysninger/MatrikkelWebService/wsdl/KommuneServiceWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2-1 git-revision#dbe58a8. -->
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2-1 git-revision#dbe58a8. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune" name="KommuneServiceWS">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=1"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=12"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=23"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=33"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=34"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=35"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=36"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=37"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=38"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=2"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=3"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=4"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=5"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=6"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=7"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=8"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=9"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=10"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=11"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=13"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=14"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=15"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=16"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=17"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=18"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=19"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=20"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=21"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=22"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=24"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=25"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=26"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=27"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=28"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=29"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=30"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=31"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS?xsd=32"/>
		</xsd:schema>
	</types>
	<message name="findKommuneIdForIdent">
		<part name="parameters" element="tns:findKommuneIdForIdent"/>
	</message>
	<message name="findKommuneIdForIdentResponse">
		<part name="parameters" element="tns:findKommuneIdForIdentResponse"/>
	</message>
	<message name="ServiceException">
		<part xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" name="fault" element="ns1:ServiceException"/>
	</message>
	<message name="findForrigeKommunenummerForKommunenumre">
		<part name="parameters" element="tns:findForrigeKommunenummerForKommunenumre"/>
	</message>
	<message name="findForrigeKommunenummerForKommunenumreResponse">
		<part name="parameters" element="tns:findForrigeKommunenummerForKommunenumreResponse"/>
	</message>
	<message name="findUtgatteKommuneIdsForKommuneIds">
		<part name="parameters" element="tns:findUtgatteKommuneIdsForKommuneIds"/>
	</message>
	<message name="findUtgatteKommuneIdsForKommuneIdsResponse">
		<part name="parameters" element="tns:findUtgatteKommuneIdsForKommuneIdsResponse"/>
	</message>
	<message name="findAlleFylkerDTO">
		<part name="parameters" element="tns:findAlleFylkerDTO"/>
	</message>
	<message name="findAlleFylkerDTOResponse">
		<part name="parameters" element="tns:findAlleFylkerDTOResponse"/>
	</message>
	<message name="findKommuneDTOsForFylke">
		<part name="parameters" element="tns:findKommuneDTOsForFylke"/>
	</message>
	<message name="findKommuneDTOsForFylkeResponse">
		<part name="parameters" element="tns:findKommuneDTOsForFylkeResponse"/>
	</message>
	<message name="findGjeldendeKommuneIdForKommuneNr">
		<part name="parameters" element="tns:findGjeldendeKommuneIdForKommuneNr"/>
	</message>
	<message name="findGjeldendeKommuneIdForKommuneNrResponse">
		<part name="parameters" element="tns:findGjeldendeKommuneIdForKommuneNrResponse"/>
	</message>
	<message name="findKommunevapenForKommune">
		<part name="parameters" element="tns:findKommunevapenForKommune"/>
	</message>
	<message name="findKommunevapenForKommuneResponse">
		<part name="parameters" element="tns:findKommunevapenForKommuneResponse"/>
	</message>
	<message name="findAlleFylker">
		<part name="parameters" element="tns:findAlleFylker"/>
	</message>
	<message name="findAlleFylkerResponse">
		<part name="parameters" element="tns:findAlleFylkerResponse"/>
	</message>
	<message name="findNavarendeKommunenummerForKommunernummer">
		<part name="parameters" element="tns:findNavarendeKommunenummerForKommunernummer"/>
	</message>
	<message name="findNavarendeKommunenummerForKommunernummerResponse">
		<part name="parameters" element="tns:findNavarendeKommunenummerForKommunernummerResponse"/>
	</message>
	<message name="findNavarendeKommunenummreForKommunernummer">
		<part name="parameters" element="tns:findNavarendeKommunenummreForKommunernummer"/>
	</message>
	<message name="findNavarendeKommunenummreForKommunernummerResponse">
		<part name="parameters" element="tns:findNavarendeKommunenummreForKommunernummerResponse"/>
	</message>
	<message name="findForrigeKommunenummerForKommunenummer">
		<part name="parameters" element="tns:findForrigeKommunenummerForKommunenummer"/>
	</message>
	<message name="findForrigeKommunenummerForKommunenummerResponse">
		<part name="parameters" element="tns:findForrigeKommunenummerForKommunenummerResponse"/>
	</message>
	<message name="findKommuneIdsForIdents">
		<part name="parameters" element="tns:findKommuneIdsForIdents"/>
	</message>
	<message name="findKommuneIdsForIdentsResponse">
		<part name="parameters" element="tns:findKommuneIdsForIdentsResponse"/>
	</message>
	<message name="findAlleKommuner">
		<part name="parameters" element="tns:findAlleKommuner"/>
	</message>
	<message name="findAlleKommunerResponse">
		<part name="parameters" element="tns:findAlleKommunerResponse"/>
	</message>
	<portType name="KommuneService">
		<operation name="findKommuneIdForIdent">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommuneIdForIdentRequest" message="tns:findKommuneIdForIdent"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommuneIdForIdentResponse" message="tns:findKommuneIdForIdentResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommuneIdForIdent/Fault/ServiceException"/>
		</operation>
		<operation name="findForrigeKommunenummerForKommunenumre">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findForrigeKommunenummerForKommunenumreRequest" message="tns:findForrigeKommunenummerForKommunenumre"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findForrigeKommunenummerForKommunenumreResponse" message="tns:findForrigeKommunenummerForKommunenumreResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findForrigeKommunenummerForKommunenumre/Fault/ServiceException"/>
		</operation>
		<operation name="findUtgatteKommuneIdsForKommuneIds">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findUtgatteKommuneIdsForKommuneIdsRequest" message="tns:findUtgatteKommuneIdsForKommuneIds"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findUtgatteKommuneIdsForKommuneIdsResponse" message="tns:findUtgatteKommuneIdsForKommuneIdsResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findUtgatteKommuneIdsForKommuneIds/Fault/ServiceException"/>
		</operation>
		<operation name="findAlleFylkerDTO">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findAlleFylkerDTORequest" message="tns:findAlleFylkerDTO"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findAlleFylkerDTOResponse" message="tns:findAlleFylkerDTOResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findAlleFylkerDTO/Fault/ServiceException"/>
		</operation>
		<operation name="findKommuneDTOsForFylke">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommuneDTOsForFylkeRequest" message="tns:findKommuneDTOsForFylke"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommuneDTOsForFylkeResponse" message="tns:findKommuneDTOsForFylkeResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommuneDTOsForFylke/Fault/ServiceException"/>
		</operation>
		<operation name="findGjeldendeKommuneIdForKommuneNr">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findGjeldendeKommuneIdForKommuneNrRequest" message="tns:findGjeldendeKommuneIdForKommuneNr"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findGjeldendeKommuneIdForKommuneNrResponse" message="tns:findGjeldendeKommuneIdForKommuneNrResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findGjeldendeKommuneIdForKommuneNr/Fault/ServiceException"/>
		</operation>
		<operation name="findKommunevapenForKommune">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommunevapenForKommuneRequest" message="tns:findKommunevapenForKommune"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommunevapenForKommuneResponse" message="tns:findKommunevapenForKommuneResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommunevapenForKommune/Fault/ServiceException"/>
		</operation>
		<operation name="findAlleFylker">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findAlleFylkerRequest" message="tns:findAlleFylker"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findAlleFylkerResponse" message="tns:findAlleFylkerResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findAlleFylker/Fault/ServiceException"/>
		</operation>
		<operation name="findNavarendeKommunenummerForKommunernummer">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findNavarendeKommunenummerForKommunernummerRequest" message="tns:findNavarendeKommunenummerForKommunernummer"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findNavarendeKommunenummerForKommunernummerResponse" message="tns:findNavarendeKommunenummerForKommunernummerResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findNavarendeKommunenummerForKommunernummer/Fault/ServiceException"/>
		</operation>
		<operation name="findNavarendeKommunenummreForKommunernummer">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findNavarendeKommunenummreForKommunernummerRequest" message="tns:findNavarendeKommunenummreForKommunernummer"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findNavarendeKommunenummreForKommunernummerResponse" message="tns:findNavarendeKommunenummreForKommunernummerResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findNavarendeKommunenummreForKommunernummer/Fault/ServiceException"/>
		</operation>
		<operation name="findForrigeKommunenummerForKommunenummer">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findForrigeKommunenummerForKommunenummerRequest" message="tns:findForrigeKommunenummerForKommunenummer"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findForrigeKommunenummerForKommunenummerResponse" message="tns:findForrigeKommunenummerForKommunenummerResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findForrigeKommunenummerForKommunenummer/Fault/ServiceException"/>
		</operation>
		<operation name="findKommuneIdsForIdents">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommuneIdsForIdentsRequest" message="tns:findKommuneIdsForIdents"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommuneIdsForIdentsResponse" message="tns:findKommuneIdsForIdentsResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommuneIdsForIdents/Fault/ServiceException"/>
		</operation>
		<operation name="findAlleKommuner">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findAlleKommunerRequest" message="tns:findAlleKommuner"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findAlleKommunerResponse" message="tns:findAlleKommunerResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findAlleKommuner/Fault/ServiceException"/>
		</operation>
	</portType>
	<binding name="KommuneServicePortBinding" type="tns:KommuneService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="findKommuneIdForIdent">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findForrigeKommunenummerForKommunenumre">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findUtgatteKommuneIdsForKommuneIds">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findAlleFylkerDTO">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findKommuneDTOsForFylke">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findGjeldendeKommuneIdForKommuneNr">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findKommunevapenForKommune">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findAlleFylker">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findNavarendeKommunenummerForKommunernummer">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findNavarendeKommunenummreForKommunernummer">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findForrigeKommunenummerForKommunenummer">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findKommuneIdsForIdents">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="findAlleKommuner">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="KommuneServiceWS">
		<port name="KommuneServicePort" binding="tns:KommuneServicePortBinding">
			<soap:address location="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS"/>
		</port>
	</service>
</definitions>