DiBK.Matrikkelopplysninger/MatrikkelWebService/wsdl/StoreServiceWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2-1 git-revision#dbe58a8. -->
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2-1 git-revision#dbe58a8. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/store" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/store" name="StoreServiceWS">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/store" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=1"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=12"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=23"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=33"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=34"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=35"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=36"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=37"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=38"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=2"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=3"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=4"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=5"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=6"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=7"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=8"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=9"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=10"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=11"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=13"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=14"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=15"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=16"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=17"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=18"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=19"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=20"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=21"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=22"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=24"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=25"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=26"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=27"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=28"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=29"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=30"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=31"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS?xsd=32"/>
		</xsd:schema>
	</types>
	<message name="getObjectsIgnoreMissing">
		<part name="parameters" element="tns:getObjectsIgnoreMissing"/>
	</message>
	<message name="getObjectsIgnoreMissingResponse">
		<part name="parameters" element="tns:getObjectsIgnoreMissingResponse"/>
	</message>
	<message name="ServiceException">
		<part xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" name="fault" element="ns1:ServiceException"/>
	</message>
	<message name="getVersionsForList">
		<part name="parameters" element="tns:getVersionsForList"/>
	</message>
	<message name="getVersionsForListResponse">
		<part name="parameters" element="tns:getVersionsForListResponse"/>
	</message>
	<message name="getObjects">
		<part name="parameters" element="tns:getObjects"/>
	</message>
	<message name="getObjectsResponse">
		<part name="parameters" element="tns:getObjectsResponse"/>
	</message>
	<message name="getVersions">
		<part name="parameters" element="tns:getVersions"/>
	</message>
	<message name="getVersionsResponse">
		<part name="parameters" element="tns:getVersionsResponse"/>
	</message>
	<message name="getObject">
		<part name="parameters" element="tns:getObject"/>
	</message>
	<message name="getObjectResponse">
		<part name="parameters" element="tns:getObjectResponse"/>
	</message>
	<portType name="StoreService">
		<operation name="getObjectsIgnoreMissing">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/store/StoreService/getObjectsIgnoreMissingRequest" message="tns:getObjectsIgnoreMissing"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/store/StoreService/getObjectsIgnoreMissingResponse" message="tns:getObjectsIgnoreMissingResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/store/StoreService/getObjectsIgnoreMissing/Fault/ServiceException"/>
		</operation>
		<operation name="getVersionsForList">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/store/StoreService/getVersionsForListRequest" message="tns:getVersionsForList"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/store/StoreService/getVersionsForListResponse" message="tns:getVersionsForListResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/store/StoreService/getVersionsForList/Fault/ServiceException"/>
		</operation>
		<operation name="getObjects">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/store/StoreService/getObjectsRequest" message="tns:getObjects"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/store/StoreService/getObjectsResponse" message="tns:getObjectsResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/store/StoreService/getObjects/Fault/ServiceException"/>
		</operation>
		<operation name="getVersions">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/store/StoreService/getVersionsRequest" message="tns:getVersions"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/store/StoreService/getVersionsResponse" message="tns:getVersionsResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/store/StoreService/getVersions/Fault/ServiceException"/>
		</operation>
		<operation name="getObject">
			<input wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/store/StoreService/getObjectRequest" message="tns:getObject"/>
			<output wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/store/StoreService/getObjectResponse" message="tns:getObjectResponse"/>
			<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/store/StoreService/getObject/Fault/ServiceException"/>
		</operation>
	</portType>
	<binding name="StoreServicePortBinding" type="tns:StoreService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="getObjectsIgnoreMissing">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="getVersionsForList">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="getObjects">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="getVersions">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
		<operation name="getObject">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="StoreServiceWS">
		<port name="StoreServicePort" binding="tns:StoreServicePortBinding">
			<soap:address location="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS"/>
		</port>
	</service>
</definitions>